* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	width: 100dvw;
	color: #fff;
	background-color: #606060;
	overflow-x: clip;
}

#root {
	height: 100%;
	width: 100%;
}

h1,
h2,
h3 {
	width: 100%;
	text-align: center;
}

.character-display {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.base {
	width: 100%;
}

.menu {
	width: 94%;
	padding: 0.5rem 0;
	background-color: #202020;
	border: 2px solid #d7d7d7;
}

.types-btns,
.tones-btns {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.types-btns button,
.tones-btns button {
	cursor: pointer;
	margin-top: 0.5rem;
	border: 3px solid #ffffff6c;
	transition: all 0.2s linear;
}

.types-btns button {
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	color: #fff;
	background-color: #23527f;
}

.tones-btns button {
	height: 2rem;
	width: 10%;
}

.types-btns button:active,
.tones-btns button:active {
	scale: 0.8;
}

button.selected {
	border: 3px groove #ff6a00;
	box-shadow: 0 0 0.5rem #ff6a00;
}
