* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	width: 100dvw;
	color: #fff;
	background-color: #505050;
	overflow-x: clip;
}

#root {
	height: 100%;
	width: 100%;
}

h1,
h2,
h3 {
	width: 100%;
	text-align: center;
}

.container {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}

.character-display {
	width: 100%;
	max-width: 500px;
	aspect-ratio: 1 / 1;
	position: relative;
}

.character-display img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.menu {
	max-height: 350px;
	width: 94%;
	max-width: 500px;
	padding: 0.5rem 0;
	background-color: #202020;
	border: 3px solid #d7d7d7;
	overflow-y: scroll;
}

button {
	cursor: pointer;
	margin-top: 0.2rem;
	text-transform: capitalize;
	border: 3px solid #ffffff6c;
	transition: all 0.2s linear;
}

.btns-container {
	margin: 0.5rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.types button,
.hair-styles button,
.facial-hair-styles button {
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	color: #fff;
	background-color: #23527f;
}

.tones button,
.hair-colors button,
.facial-hair-colors button {
	height: 2rem;
	width: 10%;
}

button.selected {
	border: 3px groove #00ff9d;
	box-shadow: 0 0 0.5rem #00ff9d;
}

button:active {
	scale: 0.8;
}
